language: c
os: linux
dist: trusty
sudo: required

compiler:
  - m68k-atari-mint-gcc

before_install:
  - export USER=$(echo "${TRAVIS_REPO_SLUG}" | cut -d '/' -f 1)
  - export BASE_RAW_URL="https://raw.githubusercontent.com/${USER}"

  - wget -O .travis/download_prerequisities.sh "${BASE_RAW_URL}/travis-scripts/master/download_prerequisities.sh"
  - sh ./.travis/download_prerequisities.sh
  - sh ./.travis/install-cross-mint.sh gcc-m68k-atari-mint binutils-m68k-atari-mint mintlib-m68k-atari-mint > /dev/null
  
before_script:
  - . ./.travis/setup_env.sh

script:
  - sh ./.travis/build.sh "${PWD}/.travis/tmp" "${PWD}/.travis/out"

after_success:
  - sh ./.travis/deploy.sh "${PWD}/.travis/out" $encrypted_c6a78c00dc3b_key $encrypted_c6a78c00dc3b_iv
